:root {
    --main-font-family: "Roboto", sans-serif;
    --main-font-size: 16px;
    --main-font-color: #ffffffc2;
    --main-color-gray: #636b6f;
}

html {
    height: 200%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family); 
    font-size: var(--main-font-size); 
    color: var(--main-font-color); 
    background: linear-gradient(#141e30, #243b55);
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 100%;
    text-align: center;
}

.header h1 {
    color: var(--main-font-color);
    font-size: 1.5rem;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.parameters__box {
    margin-top: 4rem;
    width: 40rem;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.parameters__box h2 {
    font-size: 1.2rem;
    margin: 0 0 2rem;
    padding: 0;
    text-align: center;
}

.parameters__box .input__box {
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.parameters__box .input__box input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--main-font-color);
    outline: none;
    background: transparent;
    color: var(--main-font-color);
}

.parameters__box .input__box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: .5s;
}

.parameters__box .input__box input:focus ~ label,
.parameters__box .input__box input:valid ~ label {
    top: -1.2rem;
    left: 0;
    color: #03e9f4;
    font-size: .75rem;
}

.answer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.answer__number {
    font-size: 7rem;
}

.answer__text {
    margin-left: 2rem;
}

.answer__prop {
    text-transform: lowercase;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 2rem;
    letter-spacing: .25rem;
}

.button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.button__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.button__restart {
    display: inline-block;
    color: var(--main-color-gray);
    margin-top: 2rem;
}

.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.copyright {
    margin-top: 4rem;
    font-size: .75rem;
    color: var(--main-color-gray);
}
